<div class="container">
  <header>
    <h1>HAVE A QUESTION? WE CAN HELP</h1>
  </header>

  <main style="min-height: 600px">
    <div
      style="max-width: 800px; width: 90%; height: 100%"
      *ngFor="let faq of faqs"
    >
      <!-- Accordion Start -->
      <accordion>
        <accordion-item title="{{ faq.question }}" id="{{faq.id}}">
          <ng-template accordionContent>
            <div class="p-4">
              {{ faq.answer }}
            </div>
          </ng-template>
        </accordion-item>
      </accordion>
      <!-- Accordion End -->
    </div>
  </main>
</div>
